@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto&display=swap');

.search-bar {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Spacing between the carousel and search bar */
  margin-bottom: 20px; /* Spacing below the search bar */
}

.search-input {
  padding: 8px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ddd;
  width: 250px;
  margin-right: 10px;
}

.search-button {
  padding: 8px 16px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.search-button:hover {
  background-color: #0056b3;
}

.poster {
  position: relative;
  margin-left: 87px;
  width: 85vw;
  margin-bottom: 30px;
}

.posterImage {
  opacity: 0.7;
  height: 545px;
}

.popular_movie_content {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 1;
  left: 30px;
  bottom: 27px;
  align-items: flex-start;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
  opacity: 2;
}

.middle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.p {
  text-align: left;
  font-size: 13px;
  margin-top: 5px;
  width: 70vw;
}

.h1 {
  font-size: 40px;
}
